<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="demo">
  <div class="my-auto" id="demo-content">
    <!-- <h2 class="mb-5">Bande Démo</h2> -->

    <!-- {{ range $.Site.Data.skills }}
        <div class="subheading mb-3 skills-heading">{{ .grouping }}</div>
            <ul>
            {{ range .skills }}
                {{ if isset . "name" }}
                    <li class="list-inline-item">
                      <i class="devicons devicons-{{ cond (in $.Site.Data.devicons (lower .name)) (lower .name) "terminal_badge" }}"></i>
                      <a href="{{.link}}">{{ .name }}</a>
                    </li>
                {{ else }}
                  <li class="list-inline-item">
                    <i class="devicons devicons-{{ cond (in $.Site.Data.devicons (lower .)) (lower .) "terminal_badge" }}"></i>
                    {{ . }}
                  </li>
                {{ end }}
            {{ end }}
            </ul>
    {{ end }} -->

    <iframe id="youtube-demo" width="100%" src="https://www.youtube.com/embed/{{ .Site.Params.bandeDemo }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</section>
