<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="photos">
    <div class="my-auto" id="photos-content">
        <h2>{{ .Site.Params.photosSectionName }}</h2>
        <div class="grid">
            {{- $path := "static/img/gallery/images" -}}
            {{- $files := readDir $path -}}
            {{- range $files }}
                <!-- <img src='{{ "img/gallery/" | absURL }}{{ .Name }}'/> -->
                <a href='{{ "img/gallery/images/" | absURL }}{{ .Name }}' class="photo-element" style='background-image:url({{ "img/gallery/thumb/" | absURL }}{{ .Name }})'></a>
            {{- end }}
        </div>
    </div>
</section>
