<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="theater">
  <div class="my-auto" id="skills-content">
    <h2 class="mb-5">Théâtre</h2>
    {{ range $.Site.Data.theater }}
        <div class="subheading mb-3 skills-heading">{{ .year }}</div>
            <ul>
                {{ range .plays }}
                <li class="list-inline-item">
                    <i class="fa fa-circle" style="font-size:8px;vertical-align:middle;"></i>
                    {{ .title }}
                </li>
                {{ end }}
            </ul>
    {{ end }}
  </div>
</section>
