<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="videos">
    <div class="my-auto" id="videos-content">
        <h2>{{ .Site.Params.videosSectionName }}</h2>
        <div class="grid">
            {{ range $.Site.Data.videos }}
            <div class="video-element" video-id="{{ . }}"><img src='{{ "img/play.png" | absURL }}'/></div>
            {{ end }}
        </div>
    </div>
</section>
