body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #fefefe;

  background-color: #6D6B6A;
}

/* Light and Dark Theme Differences */

body.dark {
    background-color: #6D6B6A;
    color: #fefefe;
}

body.dark input,
body.dark textarea {
    color: #fefefe;
}

body.light {
    background-color: #fefefe;
    color: #373331;
}

body.light h1,
body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light h6 {
    color: #373331;
}

body.light input,
body.light textarea {
    color: #373331;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

/* Generals */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neuton', serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fefefe;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h2::first-letter {
    color: #80ac7b;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 400px) {
    .grid { grid-template-columns: 1fr}
}

@media screen and (min-width: 400px) and (max-width: 992px) {
    .grid { grid-template-columns: 1fr 1fr}
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Yanone Kaffeesatz', serif;
  font-size: 1.35rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 992px) {
    #home {font-size: 80%;}
    #home h1 {font-size:2rem;line-height:1;}
    #home .subheading {font-size: 1rem;margin-bottom:1rem !important}
}

.mail {
    text-transform: lowercase;
}

.list-social-icons a {
  color: #181716;
}

.list-social-icons a:hover {
  color: #605a56;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

/*--- Sections ---*/

section#home {
    min-height: 100vh;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    justify-content: left;
    align-items: flex-end;
    color: #fefefe;
}
section#home h1 {
    color: #fefefe;
}

section#demo iframe#youtube-demo {
    box-shadow: 0 0 40px #000;
}

section#about p {
    width: 75%;
    margin: auto;

    font-family: 'Neuton';
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 300;

    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1;

    text-align: center;
}

section#about p::first-letter {
    font-family: 'Neuton';
    font-size: 2em;
    color: #80ac7b;
}

@media screen and (max-width: 992px) {
    section#about p {
        font-size: 1em;
        margin-top:0;
        margin-bottom:0;
    }
}

section#videos #videos-content .grid {
    grid-gap: 10px;
}

section#videos #videos-content .video-element {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% auto;
    background-position: center;
    cursor: pointer;
    transition: background-size 1s;
}

section#videos #videos-content .video-element:hover {
    background-size: 120% auto;
}

section#videos #videos-content .video-element img {
    width: 5%;
    opacity: .5;
    transition: opacity .3s;
}

section#videos #videos-content .video-element:hover img {
    opacity: 1;
}

section#photos .photo-element {
    width: 100%;
    background-size: auto 100%;
    background-position: center;
    transition: background-size 1s;
}

section#photos .photo-element:hover {
    background-size: auto 120%;
}

section#contact form input[type="text"],
section#contact form input[type="email"],
section#contact form textarea {
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #80ac7b;
    padding: 5px 5px 5px 0;
    width: 100%;
}

section#contact form .name-email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

section#contact form input[type="submit"] {
    margin-top: 15px;
    background-color: #80ac7b;
    color: #fefefe;
    padding: 0 15px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .3s;
}

section#contact form input[type="submit"]:hover {
    background-color: transparent;
    color: #80ac7b;
    border: 2px solid #80ac7b;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #80ac7b !important;
}

.text-primary {
  color: #80ac7b !important;
}

a {
  color: #80ac7b;
}

a:hover, a:focus, a:active {
  color: #B9DDB6;
  text-decoration: none;
}

img {
  max-width:80%;
}
