<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:image" content="{{ .Site.Params.profileImage | absURL }}" />
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Neuton:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
  <!-- Other css CDNs -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ "css/resume.css" | absURL }}" rel="stylesheet">
  <link href="{{ "css/tweaks.css" | absURL }}" rel="stylesheet">
  <link href="{{ "css/magnific-popup.css" | absURL }}" rel="stylesheet">
  {{ .Hugo.Generator }}
  {{ block "headfiles" . }}
   <!-- pl;aceholder -->
  {{ end }}
</head>
<body id="page-top" class="{{ .Site.Params.version }}">
  {{ partial "nav.html" . }}
  <div class="container-fluid p-0">
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}

    <span style="color: #999999;margin-left:5px;">Thème <a href="https://framagit.org/Ximun/hugo-philou-theme" target="_blank">Philou</a> pour générateur de site web statique Hugo <i class="fa fa-circle"></i> Réalisé par <a class="pen-owner-link" href="https://framagit.org/Ximun" target="_blank">Ximun</a> à partir du thème <a class="pen-owner-link" href="https://themes.gohugo.io/hugo-resume/" target="_blank">Resume</a></span>
    {{ with $.GitInfo }}{{ with $.Site.Params.gitCommitPrefix }} <i class="fa fa-cogs"></i> <span style="color: #999999;">Page content generated from commit: <a href="{{ . }}/{{ $.GitInfo.AbbreviatedHash }}" title="log: {{ $.GitInfo.Subject }}" target="_blank">{{ $.GitInfo.AbbreviatedHash }}</a>{{ end }}{{end}}
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Other js CDNs -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- Custom scripts for this template -->
  <script src="{{ "js/resume.js" | absURL }}"></script>
  <script src="{{ "js/jquery.magnific-popup.min.js" | absURL }}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.google.analytics.trackerID }}"></script>
  <script>
    // Initialize AOS
    AOS.init();

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.google.analytics.trackerID }}');
  </script>
  {{ block "footerfiles" . }}

  {{ end }}
</body>
</html>
