<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="about">
    <div class="my-auto" id="about-content">
        {{ range $.Site.Data.about }}
            <p data-aos="fade-right" data-aos-duration="1500">{{ . }}</p>
        {{ end }}
    </div>
</section>
