<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
    <div class="my-auto" id="contact-content">
        <h2>{{ .Site.Params.contactSectionName }}</h2>
        <div class="contacts">
            <div>
              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="mr-auto">
                  <div class="subheading mb-5">{{ .Site.Params.firstName }} {{ .Site.Params.lastName }} ·
                    <a class="mail" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>

                    <form action="https://formspree.io/{{ .Site.Params.email }}" method="post">
                        <div class="name-email">
                            <input type="text" name="name" placeholder="{{ .Site.Params.nameField }}" value="">
                            <input type="email" name="_replyto" placeholder="{{ .Site.Params.emailField }}" value="">
                        </div>
                        <div><textarea name="text" rows="8" cols="80" placeholder="{{ .Site.Params.messageField }}"></textarea></div>
                        <div><input type="submit" name="" value="{{ .Site.Params.sendButton }}"></div>
                    </form>

                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
