<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ .Site.Params.profileImage | relURL }}" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {{ if .Site.Params.showAbout }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">{{ .Site.Params.aboutSectionName }}</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showDemo }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#demo">{{ .Site.Params.demoSectionName }}</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showVideos }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#videos">{{ .Site.Params.videosSectionName }}</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showPhotos }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#photos">{{ .Site.Params.photosSectionName }}</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showContact }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">{{ .Site.Params.contactSectionName }}</a>
          </li>
      {{ end }}
    </ul>
  </div>
</nav>
